/* css common styles  */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }

/* header section start here  */
.header{
    display: flex;
    background-color: rgba(229, 84, 115, 0.1);
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:850px;
    gap:70px;
    
}
.header-content{
    margin: 50px 120px;
    height: 506px;
    width:706px;
    
    
}
.header-content>.header-title{
    font-size:40px;
    font-weight:900;
    
}
.header-content>.header-subtitle{
    font-size: 18px;
    line-height: 30px;
    color:rgba(39, 39, 39, 0.6);
    margin-top: 32px;
}
.btn{
    margin-top: 42px;
    font-size: 20px;
    font-weight: bold;
    color:#FFFFFF;
    background-color: #E55473;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.header-images{
    width:635px;
    height: 800px;
    margin-right: 120px;
    margin-top: 50px;
   
}
/* main section start herer  */

/* main heading start here */
.main-heading{
    
   position: relative;
   text-align: center;
   top:100px;
   width:594px;
   height: 132px;
   margin:0 auto ;

}
.main-title{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 900;
}
.main-subtitle{
    font-weight: 18px;
    color:rgba(39, 39, 39, 0.6);
}

/* followers card design  */
.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:30px;
    width:90%;
    margin: 120px auto;
    height:500px;
}
.card-image{
    width:385px;
    height:500px;
}
.card-image>p{
     text-align: center;
     margin-top: 32px;
     font-size: 20px;
     font-weight: bold;
     text-decoration: underline;
}
.flowers-img{
    width:385px;
    height:428px;
    padding: 80px 70px 0px 70px;
    border-radius: 50% 50% 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);

}
.Flower-img{
    
    width:385px;
    height:428px;
    padding:100px 47px 51px 47px;
    border-radius: 50% 50% 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
}
.flowers__images{
    width:385px;
    height:428px;
    padding:30px 70px 0px 70px;
    border-radius: 50% 50% 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
}

/* customer care start here */
.customer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:140px auto;
    width:90%;
    height: 320px;
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 5px;
   
}
.customer-content{
    text-align: center;
    max-width:200px;
}
.customer-content img{
    width: 88px;
    height: 88px;
}
.customer-content p{
    font-size: 16px;
    margin-top: 24px;
}

/* Offer section start here */
.offer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 620px;
    gap:80px;
    margin-top: 128px;
    background-color: rgba(229, 84, 115, 0.05);
}
.offer-content{
    text-align: center;
    max-width: 594px;
    
    
}
span{
    color:#E55473;
}
.offer-content>.offer-title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 24px;
}
.offer-content>.offer-description{
    font-size: 18px;
    line-height: 30px;
    color:rgba(39, 39, 39, 0.6);
}
.offer-img{
    margin:100px;
}
.offer-img>img{
    width:318px;
    height: 420px;
}

/* instagram title here */
#container{
    width:594px;
    margin: 0 auto;
    margin-top: 120px;
}
.content{
    text-align: center;
}
.content>h3{
    font-size: 40px;
}
.content>p{
    font-size: 18px;
    line-height: 30px;
    margin-top: 24px;
    color:rgba(39, 39, 39, 0.6);
}
/* responsive media quary  */
@media screen and (max-width:576px) {
    .header{
        flex-direction: column;
        width: 100%;
        height: 100%;
        
    }  
    .header-content{
        width: 100%;
        height: 100%;
        padding:20px;
        font-size:5%;
    }
    .header-images{
        width:100%;
        height: 100%;
    }
    .card{
        flex-direction: column;
        width: 100%;
        height: 100%;
       
    }
    .customer{
        flex-direction: column;
        padding:20px;
        gap:40px;
        width: 100%;
        height: 100%;
        
    }
    .customer-content{
        max-width: 100%;
    }
    .offer{
        flex-direction: column;
        width:100%;
        height: 100%;
        padding:20px;
        gap:20px;
    }
    .offer-title{
        font-size:20px ;
    }
    .offer-description{
        font-size: 16px;
    }
    #container{
        width:100%;
        padding: 10px;
    }
   
    .main-heading{
        width:100%;
        height:100%;
        
    }

}

